*{
    margin: 0px;
    padding: 0px;
   }
    #wrapper{
    border-radius: 15px;
    height: 550px;
    width: 970px;
    background-color:rgb(13, 74, 124);
    margin: auto;
   }
   #header{
    position: relative;
    top: 10px;
    margin: 20px;
    border-radius: 15px;
    min-height: 5px;
    background-color: rgb(148, 26, 26);
    text-align: left;padding: 20px;color: whitesmoke;
    
   }
   #navigation{
    border-radius: 15px;
    min-height: 220px;
    width: 150px;
    background-color: cadetblue;
    margin: 10px;
    text-align: left; padding: 25px;
   }
   #main_content{
    position: absolute;
    bottom: 10px;
    border-radius: 15px;
    height: 340px;
    width: 700px;
    background-color: rgb(2, 12, 44);
    margin: auto;
    right: 170px;
    bottom: 125px;
    padding: 10px;
    text-align: left;padding: 10px;color: aliceblue;font-size: 13px;
   }
   #advertisement{
    position: absolute;
    border-radius: 15px;
    min-height: 10px;
    width: 920px;
    background-color: gray;
    position: relative;
    top: 110px;
    margin: 10px;
    font-size: 13px;padding: 15px;color: lightblue;
   }